.forecast-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.forecast-card {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  width: 150px;
}
.input-box{
  padding: 10px;
  margin:10px 10px 10px 0px;
  border-radius: 20px;
  border: 2px solid gray;
}
.serach-btn{
  padding: 8px;
  background-color: #074bcb;
  border: 2px solid gray;
  color: white;
  font-size: 15px;
}
.btn-temprature{
  padding: 7px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
}